@import url('https://use.fontawesome.com/releases/v6.5.1/css/all.css');
* {
    margin: 0;
    padding: 0;
    
}
body{
    background-color: antiquewhite;
}

.text-border {

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: rgba(240, 248, 255);
    color: rgb(12, 12, 12);
    text-align: center;
    width: 100px;
    margin: 30px;
    border-radius: 30%;
    z-index: 2;
    text-align: center;
}
.text-border a{
    text-decoration: none;
    color: rgb(62, 71, 107);
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 400px;
    height: 600px;
    background-color: rgba(168, 93, 93, 0.667);
    margin: auto auto;
    z-index: 1;
    border-radius: 20%;

}

.control {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 40px;


}

.text-border:hover{
    cursor: pointer;
    background-color: rgb(154, 220, 232);
    transition-duration: 1s;
    border-radius: 60%;
    
}


.container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.button{
    cursor: pointer;
    height: 50px;
    width: 50px;
    background-color: aliceblue;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0,0,0, 0.1);
    margin: 5px;
    transition: 0.3s;


}
#tiktok{
    color: rgb(50, 5, 85);

}
#telegram{
    color: rgb(88, 160, 218);
}
#discord{
    color: rgb(57, 67, 208);
}
span{
    overflow: hidden;
    transition: 0.3s;
    text-align: center;
    width: 0px;

}
.button:hover{
    width: 160px;
    border-radius: 5px;


}
.button:hover span{
    width: 120px;
    
}

